<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head> 
    <title>Springboot Authentication</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <script src="/springboot-authentication/webjars/jquery/3.6.4/jquery.min.js"></script>
    <link href="/springboot-authentication/webjars/bootstrap/4.6.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="/springboot-authentication/webjars/bootstrap/4.6.2/js/bootstrap.min.js"></script>
        
    <link href="/springboot-authentication/webjars/bootstrap-icons/1.11.2/font/bootstrap-icons.min.css" rel="stylesheet">
    
    <link href="/springboot-authentication/css/authentication-application.css" rel="stylesheet">
    <!-- link th:href="@{/css/application.css}" rel="stylesheet" /-->
    <script src="/springboot-authentication/js/authentication-application.js"></script>
    <!--<script src="/springboot-authentication/js/moment.js"></script>-->

    <link rel="icon" type="image/x-icon" href="/springboot-authentication/webjars/bootstrap-icons/1.11.2/icons/shield-lock.svg">
    <script>
	$(document).ready(function() {
		getCurrentUsername();
	});


    function getCurrentUsername() {
        var endpoint = baseURL + "/utente/get-current";

        $.ajax({
		    url: endpoint,
		    type: 'GET',
		    success: function(responseData, status, xhr){
//		        console.log(responseData);
                var username = JSON.parse(JSON.stringify(responseData));
                document.getElementById('username').value = username;
		    },
		    error: function (jqXhr, textStatus, errorMessage) {
		        console.log(errorMessage);
		    }
		});
    }

    function changePassword(username) {
        var user = document.getElementById('username').value;
        var oldpass = document.getElementById("old-password").value;
        var newpass = document.getElementById("new-password").value;
        var confnewpass = document.getElementById("confirm-new-password").value;

        if(oldpass.trim()=="" || newpass.trim()=="" || confnewpass.trim()=="") {
            openModal('W','modalPopup','Tuttu i campi sono obbligatori',true,false,false,true,null,null,null);
            return false;
        }

        if(newpass!=confnewpass) {
            openModal('W','modalPopup','La nuova password e la conferma della nuova password non coincidono',true,false,false,true,null,null,null);
            return false;
        }

        var endpoint = baseURL + "/utente/change-password-by-username/" + user + "?oldpassword=" + oldpass + "&newpassword=" + newpass;
        $.ajax({
		    url: endpoint,
		    type: 'PUT',
		    success: function(responseData, status, xhr){
//              console.log(responseData);
                openModal('S','modalPopup','Password correttamente aggiornata',true,false,false,true,null,null,null);
		    },
		    error: function (jqXhr, textStatus, errorMessage) {
//		        console.log(errorMessage);
                openModal('E','modalPopup','Errore nell\'aggiornamento della password',true,false,false,true,null,null,null);
		    }
		});
        resetForm();
    }

    function resetForm()
    {
        document.getElementById("old-password").value = "";
        document.getElementById("new-password").value = "";
        document.getElementById("confirm-new-password").value = "";

        document.getElementById("view-old-password").value = "";
        document.getElementById("view-new-password").value = "";
        document.getElementById("view-confirm-password").value = "";
    }

    </script>
    
</head>
<body>
	<div style="margin-left: 20px; margin-right: 20px;">
		<div th:replace="~{fragments/componenti :: header-user}"></div>
        
		<div class="card card-nav-tabs">
			<div class="card-header card-header-warning card-header-icon">
				<h3><i class="bi bi-key"></i>&nbsp;&nbsp;Cambio password</h3>
			</div>
			<div class="card-body"></div>
            
            <div class="form-row">
				<div class="form-group col-md-3"></div>
                <div class="form-group col-md-6">

                    <div class="card card-body text-center p-0 text-center shadow">
                        <div class="card-header text-center"><h5>Gestione password</h5></div>
                        
                        
                        <div class="card-body text-center">

                            <div class="form-row" style="height: 8px;"></div>

                            <!-- Grid row -->
                            <div class="form-row">
                                <!-- Default input -->
                                <div class="form-group col-md-1"></div>
                                <div class="form-group col-md-10">
                                    <!-- Default input -->
                                    <div class="input-group mb-0">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text" style="width: 220px;">Username</div>
                                    </div>
                                    <input type="text" class="form-control py-0" id="username" placeholder="" value="" readonly>
                                    </div>
                                </div>
                                <div class="form-group col-md-1"></div>
                            </div>
                            
                            <!-- Grid row -->
                            <div class="form-row">
                                <!-- Default input -->
                                <div class="form-group col-md-1"></div>
                                <div class="form-group col-md-10">
                                    <!-- Default input -->
                                    <div class="input-group mb-0">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text" style="width: 220px;">Vecchia password</div>
                                        </div>
                                        <input type="password" class="form-control py-0" id="old-password" placeholder="">
                                        <input type="text" class="form-control py-0" id="view-old-password" style="display: none;">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i id="switch-old-pass" class="bi bi-eye-fill text-secondary" onclick="showHidePassword('view-old-password','old-password','switch-old-pass');" style="cursor: pointer;"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-1"></div>
                            </div>

                            <!-- Grid row -->
                            <div class="form-row">
                                <!-- Default input -->
                                <div class="form-group col-md-1"></div>
                                <div class="form-group col-md-10">
                                    <!-- Default input -->
                                    <div class="input-group mb-0">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text" style="width: 220px;">Nuova password</div>
                                        </div>
                                        <input type="password" class="form-control py-0" id="new-password" placeholder="">
                                        <input type="text" class="form-control py-0" id="view-new-password" style="display: none;">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i id="switch-new-pass" class="bi bi-eye-fill text-secondary" onclick="showHidePassword('view-new-password','new-password','switch-new-pass');" style="cursor: pointer;"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-1"></div>
                            </div>

                            <!-- Grid row -->
                            <div class="form-row">
                                <!-- Default input -->
                                <div class="form-group col-md-1"></div>
                                <div class="form-group col-md-10">
                                    <!-- Default input -->
                                    <div class="input-group mb-0">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text" style="width: 220px;">Conferma nuova password</div>
                                        </div>
                                        <input type="password" class="form-control py-0" id="confirm-new-password" placeholder="">
                                        <input type="text" class="form-control py-0" id="view-confirm-password" style="display: none;">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i id="switch-confirm-pass" class="bi bi-eye-fill text-secondary" onclick="showHidePassword('view-confirm-password','confirm-new-password','switch-confirm-pass');" style="cursor: pointer;"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-1"></div>
                            </div>

                            <!-- Grid row -->
                            <div class="form-row">
                                <div class="form-group col-md-12 mt-2 mb-0">
                                    <button class="btn btn-primary btn-rounded btn-sm" onclick="return changePassword();">Salva</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
            <!-- div class="card-body">
                <form th:action="@{/logout}" method="post">
                    <input class="btn btn-primary" type="submit" value="Esci"/>
                </form>
            </div -->

            <div th:replace="~{fragments/componenti :: navbar}"></div>
		</div>
		
        <div th:replace="~{fragments/componenti :: auth-footer}"></div>
	</div>

    <!-- The Modal -->
	<div th:replace="~{fragments/componenti :: modal-window}"></div>

</body>
</html>