<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head> 
    <title>Springboot Authentication</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <script src="/springboot-authentication/webjars/jquery/3.6.4/jquery.min.js"></script>
	<link href="/springboot-authentication/webjars/bootstrap/4.6.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="/springboot-authentication/webjars/bootstrap/4.6.2/js/bootstrap.min.js"></script>
    
	<link href="/springboot-authentication/webjars/bootstrap-icons/1.11.2/font/bootstrap-icons.min.css" rel="stylesheet">
	
	<link rel="icon" type="image/x-icon" href="/springboot-authentication/webjars/bootstrap-icons/1.11.2/icons/shield-lock.svg">
	<script src="/springboot-authentication/js/authentication-application.js"></script>

	<script>
		$(document).ready(function() {
		});
	</script>
</head>
<body>
    <div style="margin-left: 20px; margin-right: 20px;">
		<div th:replace="~{fragments/componenti :: header-user}"></div>
		
		<div class="card card-nav-tabs">
			<div class="card-header card-header-warning card-header-icon">
				<h3>Sessione scaduta</h3>
			</div>
			<div class="card-body">
				<br>
				<b>
				    [<span th:text="${status}">status</span>]
				    <span th:text="${error}">error</span>
			    </b>
				<p th:text="${message}">message</p>
		     </div>
			 <div class="card-body" style="align-self: center; width: 100%;">
				<div class="form-row">
					<div class="form-group col-md-3"></div>
					<div class="card p-2 mb-2 form-group col-md-6 bg-danger text-white text-center d-inline">
						<span class='bi bi-slash-circle'></span>&nbsp;&nbsp;&nbsp;Sessione scaduta&nbsp;&nbsp;&nbsp;<span class='bi bi-slash-circle'></span>
					</div>
					<div class="form-group col-md-3"></div>
				</div>
			</div>
			<div th:replace="~{fragments/componenti :: navbar}"></div>
		</div>

		<div th:replace="~{fragments/componenti :: auth-footer}"></div>
	</div>
</body>
</html>